@{
    ViewData["Title"] = "Computers";
}
<h1>@ViewData["Title"]</h1>

<p>Select the category: </p>
<div class="grid-container">
	<div class="grid-item">
		<p class="p-bold">Desktops</p>
		<img src="~/images/desktop_section.jpg" alt="Desktops">
	</div>
	<div class="grid-item">
		<p class="p-bold">Laptops</p>
		<img src="~/images/laptop_section.jpg" alt="Laptops">
	</div>
</div>
