@{
	ViewData["Title"] = "Household appliances";
}
<h1>@ViewData["Title"]</h1>

<p>Select the category: </p>
<div class="grid-container">
	<div class="grid-item">
		<p class="p-bold">Microwaves</p>
		<img src="~/images/microwaves_section.jpg" alt="Microwaves">
	</div>
	<div class="grid-item">
		<p class="p-bold">Ovens</p>
		<img src="~/images/ovens_section.jpg" alt="Ovens">
	</div>
	<div class="grid-item">		
		<p class="p-bold">Dishwashers</p>
		<img src="~/images/phone_section.jfif" alt="Dishwashers">
	</div>
	<div class="grid-item">
		<p class="p-bold">Washing Machines</p>
		<img src="~/images/phone_section.jfif" alt="Washing">
	</div>
	<div class="grid-item">
		<p class="p-bold">Refrigerators</p>
		<img src="~/images/phone_section.jfif" alt="Refrigerators">
	</div>
	<div class="grid-item">
		<p class="p-bold">Toasters</p>
		<img src="~/images/phone_section.jfif" alt="Toasters">
	</div>
	<div class="grid-item">
		<p class="p-bold">Water heaters</p>
		<img src="~/images/phone_section.jfif" alt="Water heaters">
	</div>
</div>
