@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Banco de Coimbra</strong></h1>
    <img src="~/images/logo.png" width="300vm" height="300vm" style="margin-bottom:50px"/>
    <p style="font-size:20px">O único banco que dá juros a <strong>10%</strong>!</p>
    <a asp-controller="Account" asp-action="Index">
        <input type="button" class="button" value="Ver contas"/>
    </a>
</div>
