@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Golden Capital Bank</strong></h1>
    <img src="~/images/logo.jpg" width="550vm" height="300vm" style="margin-bottom:50px"/>
    <p style="font-size:20px">The only banks that pays you <strong>10%</strong> interest!</p>
    <a asp-controller="Account" asp-action="Index">
        <input type="button" class="button" value="View accounts"/>
    </a>
</div>
